.card {
  border: 2px solid red;
  width: 100%;
  border-radius: 18px;
}

.card-header picture img {
  border: 2px solid red;
  width: 100%;
  height: auto;
}

.card-body {
    background-color: bisque;
}
