:root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.dashboard {
  display: grid;
  grid-template-columns: 30% 70%;
}

.dashboard-card-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 36px;
  row-gap: 36px;
}
