@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

:root {
  --neutral-background-color: hsl(226, 43%, 10%);
  --neutral-card-inactive-color: hsl(235, 46%, 20%);
  --neutral-card-active-color: hsl(236, 41%, 34%);
  --neutral-card-footer-color: hsl(236, 100%, 87%);
  --profile-card-background-color: hsl(246, 80%, 60%);

  --font-family: "Rubik", sans-serif;
  --border-radius: 18px;
  --font-size: 18px;
  --heading-font-size: 48px;

  color: #fff;
  /* max-width: 1280px; */
  background-color: var(--neutral-background-color);
}
